
@{
    ViewData["Title"] = "Tutorials";
    ViewData["Message"] = "This page has videos tutorials on how to navigate through all the reports.";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/images/Sample_map.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">How to Run Report1</h5>
                    <p class="card-text">Tutorial 1</p>
                    <a href="#" class="btn btn-primary">Go to Tutorial</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/images/Sample_map.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">How to Run Report2</h5>
                    <p class="card-text">Tutorial 2</p>
                    <a href="#" class="btn btn-primary">Go to Tutorial</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/images/Sample_map.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">How to Run Report3</h5>
                    <p class="card-text">Tutorial 3</p>
                    <a href="#" class="btn btn-primary">Go to Tutorial</a>
                </div>
            </div>
        </div>
    </div>
</div>

