@{
    ViewData["Title"] = "About";
}

@*<img src="https://dummyimage.com/1000x100/ff/aaa" style="min-width:100%" />*@
<div class="container">

    <h2>@ViewData["Title"]</h2>

    <p>Telebix. Always there, everywhere. Your bilirubin test app has been deployed in the field and is making a huge difference in how neonatal juandice is treated in the field, or at least that's what your grant applications say. Wouldn't it be better to know exactly how much of a difference it is making? That's where Telebix comes in. Telebix was founded in 2019 by three computer science students at Seattle University. It pairs with the telerubin reader and test strip system and gathers vital telemetry data from the system.</p>
    
    <h3>Easy to Use</h3>
    <p>Telebix provides an intuitive interface for working with the data captured by the system. Unlike other products that have the user sorting through spreadsheets, this system provides a graphical data interface. Each report has adjusting dials that allow the user to drill down into the presented data and find what they're looking for.</p>

    <h3>Standard Reports</h3>
    <p>Telebix comes with a set of standard reports based on the most frequently requested data. This means that you get your report fast without spending a huge amount of time generating the report. Do you have reports that you pull periodically? Save these reports as your own standard report set. </p>

    <h3>Customizable Reports</h3>
    <p>The same report may be useful every month, but you also want to be able to create just the report you're looking for. Telebix allows users to select and constrain from various parameters ranging from age, location, bilirubin levels, and so on. Once you have generated your custom report, you can print your report or export it for use in another project.</p>
</div>