@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <div class="container">
        <h1 class="display-4">Telebix</h1>
        <p class="lead">Always there. Anytime. Anywhere.</p>
        <hr class="my-4">
        <a class="btn btn-info btn-lg" asp-controller="Home" asp-action="About" role="button">Learn more</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.placepuppy.net/100/100" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Risk Factors Analysis </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum felis libero, eu ullamcorper lacus hendrerit non.</p>
                        <a asp-controller="Report" asp-action="RiskFactorsReport" class="btn btn-primary">Go to report</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.placepuppy.net/100/100" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Generic Report 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum felis libero, eu ullamcorper lacus hendrerit non.</p>
                        <a href="#" class="btn btn-primary">Go to report</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.placepuppy.net/100/100" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Generic Report 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum felis libero, eu ullamcorper lacus hendrerit non.</p>
                        <a href="#" class="btn btn-primary">Go to report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Latest News</h5>
                    <ul>
                        <li>News item 1</li>
                        <li>News item 2</li>
                        <li>News item 3</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>