@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Message"] = "Use this page to detail your site's privacy policy.";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>