
@{
    ViewData["Title"] = "Tutorials";
    ViewData["Message"] = "This page has videos tutorials on how to navigate through all the reports.";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

