<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Export</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">as PDF</a>
            <a class="dropdown-item" href="#">as PNG</a>
            <a class="dropdown-item" href="#">as CSV</a>
        </div>
    </div>
</div>
